<head>
	<link rel="stylesheet" href="/css/login.css">
	<title> OTP Verification</title>
</head>

<div class="container">
	<div class="box">  
		<form action="/login" method="post">
				<section>
					<label class="label1" for="otp">Enter your copied OTP</label>
					<input id="otp" name="otp" type="text" required autofocus placeholder="otp"  pattern="^\S+$">
				</section>
				<section>
				<div class="btn-container">
               <button type="submit">Verify OTP</button>
				</div>
				</section> 
			</form>
	</div>
</div>