<head>
	<link rel="stylesheet" href="/css/otp.css">
	<title>Enter Email</title>
</head>

<div class="cont">
	<div class="box1"> 
		<form action="/otp" method="post">
				<section>
					<label class="label1" for="otp">Email</label>
					<div class="field">
					<input id="email" name="email" type="email" required autofocus  pattern="^\S+$">
					</div>
				</section>
				<div class="btn-container">
				<button class="btnr" type="submit">Request OTP</button>
				</div>
			</form>
	</div>
</div>