<head>
	<link rel="stylesheet" href="/css/success.css">
	<title>Success</title>
</head>

<div class="container">
	<div class="box"> 
		<h1>Login successful hurray!!!</h1>
			<div class="btn-container">
			<button class="back" onclick="location.href = '/'; return false;">Back to Home Page</button>
			</div>
	</div>
</div>